<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="http://loveshare.oss-cn-shanghai.aliyuncs.com/universal/plugins/jquery-core/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://loveshare.oss-cn-shanghai.aliyuncs.com/universal/util/date.utils.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/index.js" charset="UTF-8"></script>
</head>
<body>
<h1>当前时间：</h1>
<hr />
<span class="time"></span>
</body>
</html>